# If else

In [1]:
# Usual logical conditions:
# Equals: a == b
# Not Equals: a != b
# Less than: a < b
# Less than or equal to: a <= b
# Greater than: a > b
# Greater than or equal to: a >= b

In [2]:
# Indentation (tab space) required for seperating code block
a=5
if a==15/3:
    print("hello")

hello

In [3]:
if 5 == 18/3:
    print ("hooray!")
# will give no result

In [4]:
if 5!= 3*6:
    print ("hooray!")

hooray!

In [5]:
x=1
if x>3:
    print("case 1")
if x<=3:
    print("case 2")

case 2

In [6]:
if x>3:
    print("case 1")
else:
    print("case 2")

case 2

### Elif

In [7]:
def compare_to_five(y):
    if y > 5:
        return "greater"
    elif y < 0:
        return "negative"
    elif y < 5:
        return "less"
    else:
        return "equal"

In [8]:
print (compare_to_five(-3))

negative

In [9]:
print (compare_to_five(3))

less

In [10]:
print (compare_to_five(5))

equal

### Shorthand if else

In [11]:
# if a > b: print("a is greater than b")
# print("A") if a > b else print("B")

### AND OR NOT

In [12]:
# The and keyword is a logical operator, and is used to combine conditional statements:

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [13]:
# The or keyword is a logical operator, and is used to combine conditional statements:

a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [14]:
# The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

### Nested If

In [15]:
# You can have if statements inside if statements, this is called nested if statements.

x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

# While Loop Iteration

In [16]:
# Calculate sq root of 0 to 100
# We can import math as m, OR
from math import *
i = 0
while i<=100:
    print (i, "\t\t" , sqrt(i))
    i = i+1
print  ("Ready!")

0 		 0.0
1 		 1.0
2 		 1.4142135623730951
3 		 1.7320508075688772
4 		 2.0
5 		 2.23606797749979
6 		 2.449489742783178
7 		 2.6457513110645907
8 		 2.8284271247461903
9 		 3.0
10 		 3.1622776601683795
11 		 3.3166247903554
12 		 3.4641016151377544
13 		 3.605551275463989
14 		 3.7416573867739413
15 		 3.872983346207417
16 		 4.0
17 		 4.123105625617661
18 		 4.242640687119285
19 		 4.358898943540674
20 		 4.47213595499958
21 		 4.58257569495584
22 		 4.69041575982343
23 		 4.795831523312719
24 		 4.898979485566356
25 		 5.0
26 		 5.0990195135927845
27 		 5.196152422706632
28 		 5.291502622129181
29 		 5.385164807134504
30 		 5.477225575051661
31 		 5.5677643628300215
32 		 5.656854249492381
33 		 5.744562646538029
34 		 5.830951894845301
35 		 5.916079783099616
36 		 6.0
37 		 6.082762530298219
38 		 6.164414002968976
39 		 6.244997998398398
40 		 6.324555320336759
41 		 6.4031242374328485
42 		 6.48074069840786
43 		 6.557438524302
44 		 6.6332495807108
45 		 6.708203932499369
46 		 6.782329983125268
47 		 6.855654600401044
48 		 6.928203230275509
49 		 7.0
50 		 7.0710678118654755
51 		 7.14142842854285
52 		 7.211102550927978
53 		 7.280109889280518
54 		 7.3484692283495345
55 		 7.416198487095663
56 		 7.483314773547883
57 		 7.54983443527075
58 		 7.615773105863909
59 		 7.681145747868608
60 		 7.745966692414834
61 		 7.810249675906654
62 		 7.874007874011811
63 		 7.937253933193772
64 		 8.0
65 		 8.06225774829855
66 		 8.12403840463596
67 		 8.18535277187245
68 		 8.246211251235321
69 		 8.306623862918075
70 		 8.366600265340756
71 		 8.426149773176359
72 		 8.48528137423857
73 		 8.54400374531753
74 		 8.602325267042627
75 		 8.660254037844387
76 		 8.717797887081348
77 		 8.774964387392123
78 		 8.831760866327848
79 		 8.888194417315589
80 		 8.94427190999916
81 		 9.0
82 		 9.055385138137417
83 		 9.1104335791443
84 		 9.16515138991168
85 		 9.219544457292887
86 		 9.273618495495704
87 		 9.327379053088816
88 		 9.38083151964686
89 		 9.433981132056603
90 		 9.486832980505138
91 		 9.539392014169456
92 		 9.591663046625438
93 		 9.643650760992955
94 		 9.695359714832659
95 		 9.746794344808963
96 		 9.797958971132712
97 		 9.848857801796104
98 		 9.899494936611665
99 		 9.9498743710662
100 		 10.0
Ready!

In [17]:
# Infinite loop, to stop press ctrl + c
# i = 0
# while i<=5:
#    print i

In [18]:
# With the break statement we can stop the loop even if the while condition is true:
# Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [19]:
# With the continue statement we can stop the current iteration, and continue with the next:
# Continue to the next iteration if i is 3:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [20]:
# With the else statement we can run a block of code once when the condition no longer is true:
# Print a message once the condition is false:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [21]:
i = 1
while i<=10:
    print ( 2 ,"*",i ,"=",2*i)
    i+=1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [23]:
# End value is not included
# r1 = range(11) for python2 or with list or for loop
r2 = range (5,16)
# With a gap/step of 2 
r3 = range (4,21,2)
# WIth a step of -5
r4 = range (15,4,-5)
print (r2)
print (r3)
print (r4)

range(5, 16)
range(4, 21, 2)
range(15, 4, -5)

In [24]:
import numpy as np

In [27]:
r5 = np.linspace(1,10,5)
print (r5)

[ 1.    3.25  5.5   7.75 10.  ]

# For loop Iteration

In [28]:
# range(start point, total required (-1), step or gap)

# To loop through a set of code a specified number of times, we can use the range() function

# The range() function returns a sequence of numbers, starting from 0 by default,
# and increments by 1 (by default), and ends at a specified number.

In [29]:
mynames = ["Sam","Pit","Misch"]
for n in mynames:
    print ("Hello", n)

Hello Sam
Hello Pit
Hello Misch

In [30]:
for i in range (0,5):
    print (i, "\t", sqrt(i))

0 	 0.0
1 	 1.0
2 	 1.4142135623730951
3 	 1.7320508075688772
4 	 2.0

In [31]:
# print the table of 2
for i in range(1,11):
    print( 2 ,"*",i ,"=",2*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [32]:
# use of else
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

### Nested loop

In [33]:
# The "inner loop" will be executed one time for each iteration of the "outer loop":
# Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Functions

In [34]:
# In Python a function is defined using the def keyword:

def my_func():
  print("Hello from a function")

In [35]:
# To call a function, use the function name followed by parenthesis:

my_func()

Hello from a function

In [36]:
# Passing a List as an Argument
# Arguments to a function (string, number, list, dictionary etc.)
# It will be treated as the same data type inside the function.

In [37]:
# If you send a List as an argument, it will still be a List when it reaches the function:

def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [38]:
# Area and perimeter of a rectangle
def area_per(b,h):
    A = b*h
    P = 2*(b+h)
    return A,P
# returns value

In [39]:
area_per(10,5)
# Here we filled arguments

(50, 30)