In [2]:
#This is a comment.Can also be used to prevent execution of a code.
print("Hello, World!")

Hello, World!

In [3]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

# Variables and data types

In [4]:
x = 5
y = "Hello, World!"
print(x,y)

5 Hello, World!

In [5]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
# Casting

In [6]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [7]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [8]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [9]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [10]:
x = 5
y = 10
print(x + y)

15

In [11]:
# Python Indentation is the space (minimum one is required to indidcate a block of code)
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [12]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()
# x is a global variable

Python is awesome

In [13]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [14]:
#If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [15]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [16]:
x = "Hello World"	                      #str	
x = 20	                                  #int	
x = 20.5	                             #float	
x = 1j	                                #complex	
x = ["apple", "banana", "cherry"]	    #list	
x = ("apple", "banana", "cherry")	    #tuple	
x = {"name" : "John", "age" : 36}	    #dict	
x = {"apple", "banana", "cherry"}	    #set		
x = True	                            #bool

In [17]:
import random

print(random.randrange(1, 10))

1

# Strings

In [18]:
a = "Hello, World!"
print(a[1])
#Strings are Arrays

e

In [19]:
#Checking if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [20]:
#Checking if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [21]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [22]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [23]:
#Create an f-string:

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [24]:
#Display the price with 2 decimals:

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [26]:
#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [27]:
#\'	Single Quote	
#\\	Backslash	
#\n	New Line	
#\r	Carriage Return	
#\t	Tab	
#\b	Backspace

In [28]:
#count()	     Returns the number of times a specified value occurs in a string
#endswith()	     Returns true if the string ends with the specified value
#find()	         Searches the string for a specified value and returns the position of where it was found
#format()	     Formats specified values in a string
#index()	    Searches the string for a specified value and returns the position of where it was found
#islower()	    Returns True if all characters in the string are lower case
#isnumeric()	Returns True if all characters in the string are numeric
#isprintable()	Returns True if all characters in the string are printable
#isupper()	    Returns True if all characters in the string are upper case
#join()	        Joins the elements of an iterable to the end of the string
#replace()	   Returns a string where a specified value is replaced with a specified value
#rindex()	    Searches the string for a specified value and returns the last position of where it was found
#split()	     Splits the string at the specified separator, and returns a list
#startswith()	Returns true if the string starts with the specified value
#title()	    Converts the first character of each word to upper case

# Operator Precedence

In [ ]:
#The precedence order is described in the table below, starting with the highest precedence at the top:

# ()	              Parentheses	
# **	              Exponentiation	
# +x , -x , ~x	     Unary plus, unary minus, and bitwise NOT	
# * , / , // , %	 Multiplication, division, floor division, and modulus	
# + , -	            Addition and subtraction	
# << , >>	         Bitwise left and right shifts	
# &	                 Bitwise AND	
# ^	                 Bitwise XOR	
# |	                 Bitwise OR	
# == , != , > , >= , < , <= , is , is ,not  in  not in 	Comparisons, identity, and membership operators	
# not	Logical NOT	
# and	AND	
# or	OR